<% include ../partials/header %>
<!--SPINNER-->
<% include ../partials/spinner %>

<!--FORMULAIRE DE SELECTION DU PROJET BIMSYNC-->
<form class="container" action="/byproject" method="POST">

    <div class="form-group choose_form">

      <label for="projects">Choose a project</label>

      <select class="form-control" id="projects" name="project_id">
        <option value="" disabled selected>Select a project...</option>
        <% projects.forEach(function(project){ %>
          <option value="<%= project.id %>"><%= project.name %></option>
        <% }); %>
      </select>

      <input type="submit" class="btn btn-info" value="Show me the dashboard">

    </div>
</form>

<!-- ==================================================================== -->

<!-- Si le champs userNB n'est pas vide, c'est à dire si une requête à été faite pour un projet précis-->
<!-- Afficher le tableau de bord -->

<% if (usersNb) { %>
  <div class="container"> <!-- Partie contenant les Grand chiffre en tête de tableau de bord -->

    <div class="projectName">
      <h5><%= projectName %></h5>
    </div>

    <!-- Nombre de membre du projet -->
    <div class="d-sm-block d-md-flex justify-content-around">
      <div id="jumboUsers" class="jumbotron sm-col-12 md-col-3 m-1">
         <span class="number"><%= usersNb %></span> <br>Users

         <!--EXPORT LISTE UTILISATEURS EN EXCEL -->
         <% var usersSTR =  JSON.stringify(usersList) %>
         <button type="button" class="btn btn-outline-dark p-1" name="excelExport"
            style="font-size:0.6em"
            onclick="exportUsers(<%=usersSTR%>, headers, fileTitle)">
            <i class="fas fa-download"></i> Export list
         </button>
      </div>

      <!-- Nombre de models -->
      <div id="jumboModels" class="jumbotron sm-col-12 md-col-3 m-1">
         <span class="number"><%= labelmodel.length %></span> <br>models
      </div>

      <!-- Nombre de sujets -->
      <div id="jumboTopics" class="jumbotron sm-col-12 md-col-3 m-1">
         <span class="number"><%= topics.length %></span> <br>Topics
      </div>

      <!-- Date de la dernière mise à jour du projet BIMSYNC -->
      <div id="jumboUpdate" class="jumbotron sm-col-12 md-col-4 m-1">
         <span class="number"><%= projectLastUpdate %></span> <br>Last update
      </div>
    </div>

    <!-- Canvas pour afficher le doughnut des révisions par modèles -->
    <div class="row d-flex justify-content-around">
      <div id="chart1" class="myChart">
        <canvas id="myChart1"></canvas>
      </div>
    </div>

    <!-- Canvas pour afficher le bargraph des sujets par mois -->
    <div class="row d-flex justify-content-around">
      <div id="chart2" class="myChart">
        <canvas id="myChart2"></canvas>
      </div>
    </div>

  </div>

  // script pour afficher le graphique donnant le nombre de révision par modèle
  <% include ../partials/generateModelsByProjectGraph %>


  // script pour afficher le graphique donnant le nombre de sujets par mois
  <% include ../partials/generateTopicsByMonthGraph %>


<% } %>

<% include ../partials/footer %>
