<% include ../partials/header %>

<!-- <form class="" action="/projects/models" method="post">
  <label for="list-projects">---- CHOISISSEZ UN PROJET ----</label>
    <select id="list-projects" name="project">
      <% result.forEach(function(project){ %>
        <option value="<%= project["name"]%>"> <%= project["name"]%> </option>
      <% }); %>
    </select>
    <input type="submit" name="Voir les modèles du projet" value="Voir les modèles du projet">
</form> -->


<div style="margin:0 10px 10px 0;">
  <canvas  class="jumbotron" id="myChart" width="1000em" height="1000em"></canvas>
</div>

<script type="text/javascript">
  var labelsStringified = <%- JSON.stringify(labels) %>;
  var backgroundColorsStringified = <%- JSON.stringify(backgroundColors) %>;
  var borderColorsStringified = <%- JSON.stringify(borderColors) %>;

  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: labelsStringified,
        datasets: [{
            label: 'Revisions by project',
            data: [<%=datas%>],
            backgroundColor: backgroundColorsStringified,
            borderColor: borderColorsStringified,
            borderWidth: 1
        }]
    },
    options: {
        responsive:true,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
  });
</script>

<% include ../partials/footer %>
