<% include ../partials/header %>
<!--SPINNER-->
<div class="chargement">
  <div class="d-flex justify-content-center">
    <div class="spinner-grow spinner-grow-sm text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow spinner-grow-sm text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow spinner-grow-sm text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <p> Please wait, the loading may take a few seconds </p>
    <div class="spinner-grow spinner-grow-sm text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow spinner-grow-sm text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow spinner-grow-sm text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<div class="graphContainer" >
<!-- CANVAS SECOND BARGRAPH AVEC LES TOPICS -->
  <div class="graphBlock">
        <h1 class="title"> Number of model revisions by project <h1>
    <div id="chart1" class="myChart">
      <canvas id="myChart"></canvas>
    </div>
  </div

<!-- CANVAS SECOND BARGRAPH AVEC LES REVISIONS -->
  <div class="graphBlock">
    <h1 class="title"> Number of topics by project <h1>
    <div id="chart2" class="myChart jumbotron">
      <canvas id="chartTopics" width="500px" height="2000px"></canvas>
    </div>
  </div>

</div>

<!-- SCRIPT POUR LE PREMIER BARGRAPH AVEC LES REVISIONS -->
<script type="text/javascript">

  var labelsProjectsStringified = <%- JSON.stringify(labelsProjects) %>;
  var backgroundColorsStringified = <%- JSON.stringify(backgroundColors) %>;
  var borderColorsStringified = <%- JSON.stringify(borderColors) %>;

  var ctx = document.getElementById("myChart").getContext('2d');
  var data = {
      labels: labelsProjectsStringified,
      datasets: [{
          label: 'Revisions by project',
          data: [<%=datasProjects%>],
          backgroundColor: backgroundColorsStringified,
          borderColor: borderColorsStringified,
          borderWidth: 1
      }]
  }
  var options = {
      responsive:true,
      scales: {
          yAxes: [{
              barThickness:20,
              ticks: {
                  beginAtZero:true
              }
          }],
          xAxes:[{
            gridLines:{
              display:false
            }
          }]
      }
  }

  // Calcul de la hauteur du bargraph
  var height = (data.labels.length +5) * 30;

  //définit la hauteur et la largeur du bargraph en parametrant les attributs du canvas
  document.getElementById('myChart').setAttribute("width",500)
  document.getElementById('myChart').setAttribute("height",(height))

  var myChart = new Chart(ctx, {
    type: 'horizontalBar',
    data:data,
    options:options
  });

</script>

<!-- SCRIPT POUR LE SECOND BARGRAPH AVEC LES TOPICS -->
<script type="text/javascript">

  var labelsTopicsStringified = <%- JSON.stringify(labelsTopics) %>;
  var backgroundColorsStringified = <%- JSON.stringify(backgroundColors) %>;
  var borderColorsStringified = <%- JSON.stringify(borderColors) %>;

  var ctx = document.getElementById("chartTopics").getContext('2d');
  var data = {
      labels: labelsTopicsStringified,
      datasets: [{
          label: 'Topics by project',
          data: [<%=datasTopics%>],
          backgroundColor: backgroundColorsStringified,
          borderColor: borderColorsStringified,
          borderWidth: 1
      }]
  }
  var options = {
      responsive:true,
      scales: {
          yAxes: [{
              barThickness:20,
              ticks: {
                  beginAtZero:true
              }
          }],
          xAxes:[{
            gridLines:{
              display:false
            }
          }]
      }
  }

  // Calcul de la hauteur du bargraph
  var height = (data.labels.length +5) * 30;

  //définit la hauteur et la largeur du bargraph en parametrant les attributs du canvas
  document.getElementById('chartTopics').setAttribute("width",500)
  document.getElementById('chartTopics').setAttribute("height",(height))

  var myChart = new Chart(ctx, {
    type: 'horizontalBar',
    data:data,
    options:options
  });

</script>

<% include ../partials/footer %>
